*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

body {
	background-image: url(img/imgg.jfif);
	background-repeat: no-repeat;
	background-size: 120%;
}

.form_cd{
    width: 100%;
    max-width: 500px;
    padding: 10px;
    background-color:rgb(70, 203, 233) ;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    position: absolute;
    text-align: center;


}

form input[type="text"]{
    width: 350PX;
    padding: 5px;
    margin-top: 10px;
}

form input[type="submit"]{
    width: 200PX;
    padding: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.form_cd h2{
    color: black;
}

